<section class="section-content border-top border-bottom border-light">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-5 pb-5 pb-lg-0 mx-auto text-center text-lg-start badge-text">
                <h2 class="mb-4 badge-heading">{{ block.settings.badge_heading }}</h2>
                <p class="badge-paragraph">{{ block.settings.badge_paragraph }}</p>
            </div>
            <div class="col-12 col-lg-7">
                <div class="badge-slider swiper-container overflow-hidden">
                    <div class="swiper-wrapper align-items-center">
                        {% if block.settings.image1 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image1 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image2 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image2 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image3 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image3 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image4 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image4 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image5 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image5 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image6 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image6 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image7 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image7 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image8 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image8 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                        {% if block.settings.image9 != blank %}
                            <div class="swiper-slide d-flex justify-content-center">
                                <img src="{{ block.settings.image9 | image_url }}" alt="Badge Image">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var swiper = new Swiper('.badge-slider', {
            slidesPerView: 2,
            autoplay: {
                delay: 3000,
                disableOnInteraction: true
            },
            breakpoints: {
                575: {
                    slidesPerView: 4
                },
                768: {
                    slidesPerView: 5
                },
                992: {
                    slidesPerView: 4
                }
            }
        });
    });
</script>
