{% if settings.welcome_modal_enabled %}
<script>
    window.onload = function () {
        const checkInterval = setInterval(() => {
            const modalOpener = document.querySelector('[data-modal-opener="Popup-welcomeModal"]');

            if (modalOpener) {
                clearInterval(checkInterval);

                let isBfcmWelcomeModalAlreadyOpened = localStorage.getItem("BfcmWelcomeModal");
                if (isBfcmWelcomeModalAlreadyOpened) {
                    return;
                }

                if (!isBfcmWelcomeModalAlreadyOpened) {
                    modalOpener?.click();
                    localStorage.setItem("BfcmWelcomeModal", 1);
                }
            }
        }, 500);
    };
</script>

<style>
    .welcome-modal {
        background-color: {% if settings.welcome_modal_bg_color != blank %}{{ settings.welcome_modal_bg_color }}{% endif %};
    }
    .welcome-modal .welcome-modal-text {
        color: {{ settings.welcome_modal_text_color }};
        padding: {{ settings.welcome_modal_padding }}px;
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
    }
    #Popup-welcomeModal .icon-close {
        color: {{ settings.welcome_modal_text_color }};
    }
    #Popup-welcomeModal .modal-body {
        background-color: {% if settings.welcome_modal_bg_color != blank %}{{ settings.welcome_modal_bg_color }}{% endif %};
    }
    #Popup-welcomeModal .modal.open {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00000080;
    }
    #Popup-welcomeModal .btn-black-friday {
        padding: 15px 32px;
        background-color: #FFFFFF;
        color: #C0292B;
        border-radius: 20px;
        font-weight: 700;
        font-size: 18px;
    }
    #Popup-welcomeModal .btn-black-friday:hover {
        background-color: #000000;
        color: #FFFFFF;
    }
    #Popup-welcomeModal .modal-body {
        padding: 1rem 1rem 50px;
    }

    @media screen and (max-width: 575px) {
        .welcome-modal .welcome-modal-text {
            padding: 30px;
            font-size: 16px;
            line-height: 26px;
        }
        #Popup-welcomeModal .modal-body {
            padding: 1rem 1rem 30px;
        }
    }
</style>

<modal-dialog id="Popup-welcomeModal">
    <div class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <button
                        class="btn p-2 close-quickshop"
                        type="button"
                        id="ModalClose-welcomeModal"
                    >
                        <span class="icon-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="{{ settings.welcome_modal_url }}">
                        <div class="welcome-modal">
                            <div class="d-block text-center welcome-modal-text">
                                {{ 'sections.black-week-offer-text.welcome_modal_title_1' | t }}
                                <br>
                                {{ 'sections.black-week-offer-text.welcome_modal_title_2' | t }}
                                <br>
                                {{ 'sections.black-week-offer-text.welcome_modal_title_3' | t }}
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="{{ settings.welcome_modal_url }}" class="btn-black-friday">
                                    {{ 'sections.black-week-offer-text.button_text' | t }}
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</modal-dialog>

<a data-modal-opener="Popup-welcomeModal" class="d-none"></a>

{% endif %}