<section
    data-section-id="{{ section.id }}"
    class="section-accordion"
    id="{{ section.settings.heading | handleize }}"
>
    <div class="container accordion-margins">
        <div class="col-sm-12 col-md-8 d-flex justify-content-md-normal justify-content-center">
            <div class="mb-4 mb-sm-7">
                <h2 class="fw-medium lh-base letter-spacing mb-0">{{ section.settings.heading }}</h2>
            </div>
        </div>
        <div class="accordion d-block d-lg-none" id="accordionExample">
            {% for block in section.blocks %}
                {% assign accordions_title = block.settings['accordion-title'] %}
                {% if accordions_title != blank and block.settings['accordion-text'] != blank %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ forloop.index }}">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ forloop.index }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ forloop.index }}"
                            >
                                {{ accordions_title | strip_html }}
                            </button>
                        </h2>
                        <div
                            id="collapse{{ forloop.index }}"
                            class="accordion-collapse collapse"
                            aria-labelledby="heading{{ forloop.index }}"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                {{ block.settings['accordion-text'] }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="d-none d-lg-flex align-items-start">
            <div
                class="nav col-6 flex-column nav-pills me-3"
                id="v-pills-tab"
                role="tablist"
                aria-orientation="vertical"
            >
                {% for block in section.blocks %}
                    <a
                        class="nav-link{% if forloop.first %} active{% endif %} d-flex justify-content-between"
                        id="v-pills-{{ block.settings.accordion-title | handleize }}-tab"
                        data-bs-toggle="pill"
                        href="#v-pills-{{ block.settings.accordion-title | handleize }}"
                        role="tab"
                        aria-controls="v-pills-{{ block.settings.accordion-title | handleize }}"
                        aria-selected="{{ forloop.first }}"
                    >
                        {{ block.settings['accordion-title'] }}
                        <div
                            class="d-block accordion-icon"
                            style="background-image:url(https://cdn.shopify.com/s/files/1/0591/2130/3625/files/Arrow_-_Closed_D.svg?v=1710344278); width:50px; background-position: center;"
                        ></div>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-content col-6" id="v-pills-tabContent">
                {% for block in section.blocks %}
                    <div
                        class="tab-pane fade{% if forloop.first %} show active{% endif %}"
                        id="v-pills-{{ block.settings.accordion-title | handleize }}"
                        role="tabpanel"
                        aria-labelledby="v-pills-{{ block.settings.accordion-title | handleize }}-tab"
                    >
                        <p>{{ block.settings['accordion-text'] }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container border-bottom border-gray-100 d-block"></div>
</section>

{% schema %}
{
    "name": "Custom Accordion",
    "class": "dynamic-accordion-block",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Block Title",
            "default": "Harmony Oasis Details"
        },
        {
            "type": "color",
            "id": "section_text_color",
            "label": "Section Text Color",
            "default": "rgba(69, 90, 100, 1)"
        }
    ],
    "blocks": [
        {
            "type": "question",
            "name": "Accordion",
            "settings": [
                {
                    "type": "text",
                    "id": "accordion-title",
                    "label": "Accordion Title",
                    "default": "About Harmony A"
                },
                {
                    "type": "text",
                    "id": "accordion-text",
                    "label": "Accordion Text",
                    "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus in massa tempor nec feugiat nisl. Ultrices gravida dictum fusce ut placerat. Orci eu lobortis elementum nibh tellus molestie nunc non. Nisl pretium fusce id velit. Suspendisse ultrices gravida dictum fusce ut placerat."
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Custom Accordion",
            "category": "Content"
        }
    ]
}
{% endschema %}
