<section class="py-5" style="background:{{ section.settings.section_bg_color }};">
  <div class="container">
      <div class="swiper-container overflow-hidden">
        <div class="swiper-wrapper card-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide d-block custom-card">
                    <div class="d-flex flex-column align-items-center p-5">
                        <div class="image-info-wrapper" style="{% if block.settings.image != blank %}background: url('{{ block.settings.image | image_url }}') center no-repeat{% else %} background: url('{{ 'image' | placeholder_svg_tag: 'bg-gray-100' }}') center no-repeat{% endif %}; display: block"></div>
                        <div class="product-content text-center">
                            <h4>{{ block.settings.slider_title }}</h4>
                            <p>{{ block.settings.slider_text }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
.info-image-slider {
    height: 100%;
}
.image-info-wrapper {
    padding: 100px;
    background-size: contain!important;
}
.product-content {
    margin-top: 20px;
}

</style>

<script src="{{ 'info-slider.js' | asset_url }}" defer></script>

{% schema %} 
{
  "name": "Info Slider",
  "settings": [
    {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#FAFAF7"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "name": "Info Slide",
      "type": "info_slide",
      "settings": [
        {
          "type": "image_picker",
          "label": "Select a Image",
          "id": "image",
          "info": "Choose an Image to show on slider."
        },
        {
          "type": "text",
          "label": "Add Title to Slider",
          "id": "slider_title",
          "info": "Write something to display as a title in the slider",
          "default": "Info Slider Title"
        },
        {
          "type": "richtext",
          "label": "Add Text to Slider",
          "id": "slider_text",
          "info": "Write something to display as text in the slider",
          "default": "<p>This is just some text for the info slider.<p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Info Slider",
      "category": "Custom",
      "blocks": [
        {
            "type": "info_slide"
        },
        {
            "type": "info_slide"
        },
        {
            "type": "info_slide"
        }
      ]
    }
  ]
}
{% endschema %}
