<section class="section-content" style="background:{{ section.settings.section_bg_color }};">
  <div class="container">
      <h2 class="text-center mb-5">{{ section.settings.section_title }}</h2>
      <div class="swiper-container overflow-hidden">
      <div class="swiper-wrapper card-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide d-block custom-card">
            <div class="d-flex flex-column align-items-center bg-red p-5" style="background-color:{{ block.settings.card_bg }};">
            <div class="image-slider-wrapper" style="{% if block.settings.selected_product.images[0] != blank %}background: url('{{ block.settings.selected_product.images[0] | image_url }}') center no-repeat{% else %} background: url('https://placehold.co/600x400') center no-repeat{% endif %}; display: block"></div>
                <div class="product-content text-center">
                    {% if block.settings.selected_product != blank %}
                        <h4>{{ block.settings.selected_product.title }}</h4>
                    {% else %} 
                        <h4>Product Title</h4>
                    {% endif %}
                    {% if block.settings.selected_product != blank %}
                        <p>{{ block.settings.selected_product.description | truncate: 160 }}</p>
                    {% else %}
                        <p>This is a product description.</p>
                    {% endif %}
                  {% if block.settings.btn_text != blank %}
                    <a href="{{ block.settings.selected_product.url }}" class="btn btn{% if block.settings.btn_type == 'outline' %}-{% endif %}{{ block.settings.btn_type }}-{{ block.settings.btn_variant }} {{ block.settings.btn_size }} product-slider-btn">{{ block.settings.btn_text }}</a>
                  {% endif %}
                </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</section>

<script src="{{ 'product-slider.js' | asset_url }}" defer></script>

{% schema %} 
{
  "name": "Product Slider",
  "settings": [
    {
      "type": "text",
      "label": "Add Title to Slider",
      "id": "section_title",
      "info": "Add a title to the slider section.",
      "default": "Slider Title"
    },
    {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background Color",
        "default": "#FAFAF7"
    }
  ],
  "blocks": [
    {
      "name": "Product Slide",
      "type": "product_slide",
      "settings": [
        {
          "type": "color",
          "label": "Select a Background Color for Product Slider Cards",
          "id": "card_bg",
          "info": "Choose a Color of Product Cards.",
          "default": "#f2f2f2"
        },
        {
          "type": "product",
          "label": "Select a Product",
          "id": "selected_product",
          "info": "Choose a product to showcase in this slide."
        },
        {
          "type": "textarea",
          "label": "Add Text to Button",
          "id": "btn_text",
          "info": "Add a label to button that open's product detail page.",
          "default": "Details"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [
              {
                  "value": "outline",
                  "label": "Outline"
              },
              {
                  "value": "",
                  "label": "Solid"
              }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "secondary",
                  "label": "Secondary"
              },
              {
                  "value": "white",
                  "label": "White"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [
              {
                  "value": "",
                  "label": "Default"
              },
              {
                  "value": "btn-sm",
                  "label": "Small"
              },
              {
                  "value": "btn-lg",
                  "label": "Large"
              }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Product Slider",
      "category": "Custom",
      "blocks": [
        {
            "type": "product_slide"
        },
        {
            "type": "product_slide"
        },
        {
            "type": "product_slide"
        }
      ]
    }
  ]
}
{% endschema %}
