{{ 'section-impressum.css' | asset_url | stylesheet_tag }}
<section class="impressum-content">
    <div>
        <h1>{{ 'sections.impressum.impressum-title' | t }}</h1>

        <h2>{{ 'sections.impressum.impressum-heading-1' | t }}</h2>
        <p>{{ 'sections.footer.klarna-name' | t }}</p>
        <p>{{ 'sections.footer.klarna-number' | t }}</p>
        <p>{{ 'sections.footer.klarna-address' | t }}</p>
        <p>{{ 'sections.footer.klarna-return-policy' | t }} <a class="klarna-link text-black" href="{{ 'sections.footer.klarna-return-policy-link' | t }}" target="_blank">{{ 'sections.footer.klarna-terms' | t }}</a></p>
        <p>E-mail:<a class="text-black" href="mailto:kundenservice@serenitybett.de">kundenservice@serenitybett.de</a></p>
        <p>{{ 'sections.impressum.impressum-director' | t }}</p>
        <p>{{ 'sections.impressum.impressum-note' | t }}</p>

        <h2>{{ 'sections.impressum.impressum-business' | t }}</h2>
        <p>
            {{ 'sections.impressum.impressum-business-legal' | t }}<br>
            HRB13083
        </p>
        <p>{{ 'sections.impressum.impressum-business-number' | t }}</p>
        

        <h2>{{ 'sections.impressum.impressum-business-bank' | t }}</h2>
        <p>
            Serenity Bett GmbH<br>
            IBAN: DE05420700620177680600<br>
            BIC/SWIFT: DEUTDEDE420<br>
            Deutsche Bank
        </p>

        <h2>{{ 'sections.impressum.impressum-reference' | t }}</h2>
        <p>{{ 'sections.impressum.impressum-reference-details' | t }} <a class="klarna-link text-black" href="https://ec.europa.eu/consumers/odr/" target="_blank">{{ 'sections.impressum.impressum-reference-link-text' | t }}</a>{{ 'sections.impressum.impressum-reference-link-text-2' | t }}</p>
        <h2>Hinweis zu Markennamen und Produktbezeichnungen:</h2>
        <p>Serenity Bett steht in keinerlei Verbindung zu den auf dieser Website genannten Marken, Herstellern oder Produkten und wird von diesen weder unterstützt noch gesponsert. Die Nennung von Markennamen und Produktbezeichnungen erfolgt ausschließlich zu Informationszwecken. Serenity Bett vertreibt ausschließlich Produkte der eigenen Marke (Serenity Bett).</p>
    </div>
</section>

{% schema %}
{
  "name": "Impressum",
  "tag": "section",
  "settings": [],
  "presets": [
    {
        "name": "Impressum"
    }
  ]
}
{% endschema %}
