<section 
    class="section-content banner-image-with-text" 
    data-section-id="{{ section.id }}" 
    style="background:{{ section.settings.section_bg_color }}; color:{{ section.settings.section_text_color }}"
>

    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        {% if section.settings.heading_txt != blank %}
            {% if section.settings.heading_above == true %}
                <h3 class="mb-3 text-center">{{ section.settings.heading_txt }}</h3> 
            {% endif %}
        {% endif %}
    
        <div class="row {% if section.settings.column != blank %}flex-column {% endif %} {% if section.settings.column_reverse != blank %}flex-column-reverse {% endif %}align-items-center">

            <div class="col-12 col-lg-5 order-lg-2">
                {% render 'img-border-offset', section: section %}
            </div>
            
            <div class="col-12 col-lg-5 col-xl-6 mt-4 mt-md-0 order-lg-1">
                <div class="inside-block">
                    {% if section.settings.step_heading != blank %}
                        <h6 class="mb-2 mb-md-3 text-center text-lg-end text-uppercase" style="color:{{ section.settings.border_color }}">{{ section.settings.step_heading }}</h6>
                    {% endif %}
                    {% if section.settings.heading_txt != blank %}
                        {% if section.settings.heading_above == false %}
                            <h1 class="mb-3 banner-image-with-text-heading text-center text-lg-end">{{ section.settings.heading_txt }}</h1> 
                        {% endif %}                    
                    {% endif %}  
                    {% if section.settings.steps_captions != blank %}
                        {% assign caption = section.settings.steps_captions | newline_to_br | strip_newlines | split: '<br />' %}
                        <ul class="list-unstyled mb-5">
                            {% for cap in caption %}
                                <li class="mb-2 mb-md-3">{{ cap }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>

        </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                {% if section.settings.step_heading != blank %}
                    <h6 class="text-center text-lg-start text-uppercase">{{ section.settings.step_heading }}</h6>
                {% endif %}
                {% if section.settings.txt != blank %}
                    <div class="text-center text-lg-start">{{ section.settings.txt }}</div>
                {% endif %}  
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-end">
                {% if section.settings.btn_txt != blank %}
                    <button role="button" data-vf-id="1ew990sn" data-vf-p-type="p" data-vf-p-side="r" data-vf-trigger="click"  class="btn btn-primary btn-quiz underline-btn">{{ section.settings.btn_txt }}<span><i class="fa-solid fa-arrow-right" style="margin-left: 10px"></i></span></button>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<style>
    .underline-btn {
        text-decoration: none;
        position: relative;
        transition: color 0.3s;
        overflow: hidden;
    }

    .underline-btn:hover {
        color: #6490b2;
        background: transparent;
        border-radius: 0;

    }
    .underline-btn::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #6490b2;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    .underline-btn:hover::before {
        visibility: visible;
        transform: scaleX(1);
    }
    .collection-grid-blocks .card-collection img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.btn-quiz {
    background: transparent;
    border: 0;
    color: #131e27;
}
</style>
 

{% schema %}
    {
        "name": "Quiz Section",
        "class": "quiz-section-style",
        "settings": [
            {
                "type": "header",
                "content": "Layout"
            },
            {
                "type": "checkbox",
                "id": "fluid_layout",
                "label": "Full Width Layout?",
                "default": false
            },
            {
                "type": "header",
                "content": "Content"
            },
            {
                "type": "textarea",
                "id": "heading_txt",
                "label": "Heading Text",
                "default": "Awesome Heading"
            },
            {
                "type": "richtext",
                "id": "txt",
                "label": "Text",
                "default": "<p>Lipsum dolor sit amet, consectetur adipiscing elit. Aliquam pulvinar ac tortor imperdiet commodo.</p>"
            },
            {
                "type": "text",
                "id": "step_heading",
                "label": "Step Heading",
                "default": "Awesome Sub Heading"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "btn_txt",
                "label": "Button Text"
            },
            {
                "type": "header",
                "content": "Image"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Select Image"
            },
            {
                "type":"header",
                "content":"styling"
            },
            {
                "type": "color",
                "id": "section_bg_color",
                "label": "Background Color",
                "default": "#131E27"
            },
            {
                "type": "color",
                "id": "section_text_color",
                "label": "Text Color",
                "default": "#fff"
            },
            {
                "type": "color",
                "id": "border_color",
                "label": "Border Color",
                "default": "#6490B2"
            },
            {
                "type": "select",
                "id": "alignment",
                "label": "Text Alignment",
                "options": [
                    {
                        "value": "text-center",
                        "label": "Center"
                    },
                    {
                        "value": "text-left",
                        "label": "Left"
                    },
                    {
                        "value": "text-end",
                        "label": "Right"
                    }
                ],
                "default": "text-left"
            }
        ],
        "presets": [
            {
                "name": "Quiz Section",
                "category": "Custom"
            }
        ]
    }
{% endschema %}

<style>
    .inside-block ul li:before{
        content: "\f149";
        display: inline-block;
        font-family: "Ionicons";
        color:var(--bs-color-primary);
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 0.9rem;
        font-size: 1.8rem;
        vertical-align: middle;
    }
</style>