<section class="parallax-section" style="color: {{ section.settings.text_color }}; background-image: url('{{ section.settings.background_image | image_url }}')">
    <div>
        <h2>{{ section.settings.title }}</h2>
        <br>
        <h4>{{ section.settings.subtitle }}</h4>
    </div>
    <br>
    <button role="button" data-vf-id="1ew990sn" data-vf-p-type="p" data-vf-p-side="r" data-vf-trigger="click"  class="btn btn{% if section.settings.btn_type == 'outline' %}-{% endif %}{{ section.settings.btn_type }}-{{ section.settings.btn_variant }} {{ section.settings.btn_size }} product-slider-btn">{{ section.settings.btn_text }}</button>
</section>

<style>
.parallax-section {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
    </style>
<script src="https://app.veeform.com/external/onsite.js" async></script>

{% schema %}
{
    "name": "Quiz Section",
    "settings": [
        {
            "type": "text",
            "label": "Title",
            "id": "title"
        },
        {
            "type": "text",
            "label": "Subtitle",
            "id": "subtitle"
        },
        {
            "type": "image_picker",
            "label": "Select a Background Image",
            "id": "background_image"
        },
        {
            "type": "color",
            "label": "Text Color",
            "id": "text_color",
            "default": "#FFFFFF"
        },
        {
          "type": "textarea",
          "label": "Add Text to Button",
          "id": "btn_text",
          "info": "Add a label to button that open's product detail page.",
          "default": "Details"
        },
        {
          "type": "select",
          "id": "btn_type",
          "label": "Button Type",
          "options": [
              {
                  "value": "outline",
                  "label": "Outline"
              },
              {
                  "value": "",
                  "label": "Solid"
              }
          ],
          "default": ""
        },
        {
          "type": "select",
          "id": "btn_variant",
          "label": "Button Variant",
          "options": [
              {
                  "value": "primary",
                  "label": "Primary"
              },
              {
                  "value": "secondary",
                  "label": "Secondary"
              },
              {
                  "value": "white",
                  "label": "White"
              },
              {
                  "value": "dark",
                  "label": "Dark"
              }
          ],
          "default": "primary"
        },
        {
          "type": "select",
          "id": "btn_size",
          "label": "Button Size",
          "options": [
              {
                  "value": "",
                  "label": "Default"
              },
              {
                  "value": "btn-sm",
                  "label": "Small"
              },
              {
                  "value": "btn-lg",
                  "label": "Large"
              }
          ],
          "default": ""
        }
    ],
    "presets": [
    {
        "name": "Quiz Section",
        "category": "Custom"
    }
    ]
}
{% endschema %}