<link
    rel="stylesheet"
    href="{{ 'subscribe-section.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
>

<section
    class="section-content my-4"
    data-section-id="{{ section.id }}"
    style="background:{{ section.settings.section_bg_color }}; {% if section.settings.section_text_color != blank %} color:{{ section.settings.section_text_color }} {% endif %}"
>
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
        <div class="row flex-row-reverse justify-content-around align-items-center">
            <div class="col-10 col-lg-5 col-lg-5 col-xl-6 mt-4 mt-md-0 order-lg-1">
                <div class="text-center">
                    {% if section.settings.subtitle != blank %}
                        <h6 class="mb-5 mb-lg-6 letter-wider">{{ section.settings.subtitle }}</h6>
                    {% endif %}
                    {% if section.settings.title != blank %}
                        <h2 class="font-the-seasons banner-image-with-text-heading mb-3">
                            {{ section.settings.title }}
                        </h2>
                    {% endif %}
                    {% if section.settings.paragraph != blank %}
                        <p class="mb-4 mb-lg-5">{{ section.settings.paragraph }}</p>
                    {% endif %}
                    <div class="text-content-wrapper">
                        {% if section.settings['button-text'] != blank %}
                            <div class="input-group subscription mb-3">
                                <input
                                    type="email"
                                    class="form-control subscribe-section-input-field"
                                    placeholder="{{ section.settings.input-field-text }}"
                                >
                                <div class="input-group-append">
                                    <button class="input-group-text subscribe-section-button" type="submit">
                                        {{ section.settings['button-text'] }}
                                    </button>
                                </div>
                            </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-lg-5 order-lg-2 d-none d-lg-block">
                    {% render 'img-border-offset', section: section %}
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Subscribe section",
    "class": "subscribe-section",
    "settings": [
        {
            "type": "header",
            "content": "Main heading"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "SERENITY"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Stay In The Loop"
        },
        {
            "type": "text",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "Subscribe to our newsletter for exclusive updates, offers, and insider news. Join our community of savvy shoppers!"
        },
        {
            "type": "header",
            "content": "Main subscribe button"
        },
        {
            "type": "text",
            "id": "input-field-text",
            "default": "Enter mail address",
            "label": "Subscribtion input field text"
        },
        {
            "type": "text",
            "id": "button-text",
            "default": "Subscribe Now",
            "label": "Subscribtion button text"
        },
        {
            "type": "header",
            "content": "Images"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select first image",
            "info": "For Better Viewing Use Example dimentions: 775*735 ( Aspect Ratio: 1.05 )"
        },
        {
            "type": "textarea",
            "id": "heading_txt",
            "label": "Alt text for the image",
            "default": "Subscribe image"
        },
        {
            "type": "header",
            "content": "styling"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Background Color",
            "default": "#fcfbf9"
        }
    ],
    "presets": [
        {
            "name": "Subscribe section",
            "category": "Content"
        }
    ]
}
{% endschema %}
