{% if section.settings.top_announcement_bar_enabled %}
    <style>
        .top-announcement-bar {
            background-color: {% if section.settings.top_announcement_bar_bg_color != blank %}{{ section.settings.top_announcement_bar_bg_color }}{% endif %};
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .top-announcement-bar .top-announcement-bar-text {
            color: {{ section.settings.top_announcement_bar_text_color }};
            padding: {{ section.settings.top_announcement_bar_padding }}px 8px;
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
        }
        .top-announcement-bar .top-announcement-bar-text svg {
            width: 12px;
            height: 12px;
        }
        @media screen and (min-width: 400px) {
            .top-announcement-bar .top-announcement-bar-text svg {
                width: 18px;
                height: 18px;
            }
        }
        @media screen and (min-width: 575px) {
            .top-announcement-bar .top-announcement-bar-text {
                font-size: 16px;
                line-height: 18px;
            }
            .top-announcement-bar .top-announcement-bar-text svg {
                width: 25px;
                height: 25px;
            }
        }
    </style>


    <a href="{{ section.settings.top_announcement_bar_url }}">
        <div class="top-announcement-bar">
            <div class="d-flex align-items-center text-center top-announcement-bar-text">
                <span class="me-lg-3">
                    <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4671 8.40205L14.5974 8.70079C12.8778 8.97522 11.1694 8.35574 10.0277 7.04239L8.787 5.61486C8.59154 5.39041 8.15836 5.59241 8.20499 5.88626L8.50313 7.75332C8.77726 9.47122 8.15546 11.178 6.84014 12.3181L5.4101 13.558C5.29724 13.6555 5.26327 13.8163 5.32619 13.951C5.38911 14.0857 5.53395 14.1623 5.68152 14.1391L7.55117 13.8404C9.27081 13.5659 10.9792 14.1854 12.1209 15.4988L13.3616 16.9263C13.4598 17.0387 13.6201 17.0728 13.755 17.0099C13.8899 16.947 13.9668 16.8023 13.9436 16.6549L13.6455 14.7878C13.3713 13.0699 13.9931 11.3631 15.3085 10.2231L16.7385 8.98316C16.8513 8.88565 16.8853 8.7249 16.8224 8.5902C16.7595 8.45549 16.6146 8.37885 16.4671 8.40205Z" fill="#ffffff"/>
                    </svg>
                </span>
                {{ 'sections.black-week-offer-text.home_page_title' | t }}
                <span class="ms-lg-3">
                    <svg viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.4671 8.40205L14.5974 8.70079C12.8778 8.97522 11.1694 8.35574 10.0277 7.04239L8.787 5.61486C8.59154 5.39041 8.15836 5.59241 8.20499 5.88626L8.50313 7.75332C8.77726 9.47122 8.15546 11.178 6.84014 12.3181L5.4101 13.558C5.29724 13.6555 5.26327 13.8163 5.32619 13.951C5.38911 14.0857 5.53395 14.1623 5.68152 14.1391L7.55117 13.8404C9.27081 13.5659 10.9792 14.1854 12.1209 15.4988L13.3616 16.9263C13.4598 17.0387 13.6201 17.0728 13.755 17.0099C13.8899 16.947 13.9668 16.8023 13.9436 16.6549L13.6455 14.7878C13.3713 13.0699 13.9931 11.3631 15.3085 10.2231L16.7385 8.98316C16.8513 8.88565 16.8853 8.7249 16.8224 8.5902C16.7595 8.45549 16.6146 8.37885 16.4671 8.40205Z" fill="#ffffff"/>
                    </svg>
                </span>
            </div>
        </div>
    </a>
{% endif %}


{% schema %}
{
    "name": "Top Announcement Bar",
    "settings": [
        {
            "type": "header",
            "content": "Top Announcement Bar"
        },
        {
            "type": "checkbox",
            "id": "top_announcement_bar_enabled",
            "label": "Enabled ?",
            "default": false
        },
        {
            "type": "color",
            "id": "top_announcement_bar_bg_color",
            "label": "Background Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "top_announcement_bar_text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "url",
            "id": "top_announcement_bar_url",
            "label": "Redirect URL"
        },
        {
            "type": "range",
            "id": "top_announcement_bar_padding",
            "label": "Vertical Padding",
            "min": 10,
            "max": 110,
            "step": 1,
            "unit": "px",
            "default": 15
        }
    ],
    "presets": [
        {
            "name": "Top Announcement Bar"
        }
    ]
}
{% endschema %}
